 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__item {
    list-style-type: none;
  }
  
  .nav-link {
    margin-right: 10px; /* Adjust the margin value as needed */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d77ac124; /* Add your desired background color */
  }
  
  .nav-link {
    margin-right: 10px;
    padding: 5px 10px; /* Adjust the padding as needed */
    text-decoration: none;
    color: #404040; /* Add your desired text color */
  }
    
  .nav-link:hover {
    font-weight: bold;
  }
  
  .fakeLink {
    color: #111111;
    cursor: pointer;
    background: none !important;
    border: none;
    cursor: pointer;
  }
  
  .fakeLink:hover {
    font-weight: bold;
  }
  