@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

/* Typography */
body, button, input, select, textarea {
  color: #404040;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.container {
  max-height: 80vh; /* Adjust the value as needed */
  overflow-y: auto; /* Add vertical scroll if necessary */
}

.upload-image-form {
  max-width: 90%;
  margin: 0 auto;
  padding: 19px;
  background-color: #f7f2f2;
  border-radius: 8px;
  overflow: auto; /* Add scroll if necessary */
}

.upload-image-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
  width: calc(100% - 20px); /* Adjust the width as needed */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

.checkbox-group {
  display: flex; /* Display the tags in a flex container */
  flex-wrap: wrap; /* Allow tags to wrap to a new line */
  margin-bottom: -5px; /* Remove the bottom margin */
}

.checkbox-group label {
  display: flex; /* Align checkboxes and tag names horizontally */
  align-items: center;
  margin-bottom: 5px;
  margin-right: 10px; /* Add spacing between tags */
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px; /* Add spacing between checkbox and tag name */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-top: 10px;
}
